.maininfo {
	display: flex;
	justify-content: space-between;
	height: fit-content;
	padding: 5px;
	border-bottom: solid 1px rgb(179, 196, 223);
  transition: all 0.2s;
}

.maininfo .itemproperties {
	font-family: serif;
}

.maininfo .itemproperties p {
	margin: 0;
  color: rgb(83, 83, 83);
}

.maininfo .itemproperties div:first-child span:first-child {
	font-size: 1.3rem;
	font-family: sans-serif;
}

.maininfo .itemproperties div:first-child div {
	font-family: sans-serif;
}
