.maininfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  padding: 5px;
  border-bottom: solid 1px rgb(179, 196, 223);
  transition: all 0.2s;
}

.maininfo .itemproperties {
  width: 100%;
  font-family: serif;
}

.maininfo .itemproperties p {
  margin: 0;
  color: rgb(83, 83, 83);
  white-space: pre;
}

.maininfo .itemproperties div:first-child span:first-child {
  font-size: 1.3rem;
  font-family: sans-serif;
}

.maininfo .itemproperties div:first-child div {
  font-family: sans-serif;
}

.professorInfoText {
  margin: 5px 0;
}

.professorInfoText div {
  border-bottom: solid 1px rgb(24, 55, 103);
}

.professorInfoText div p {
  width: fit-content;
  padding: 0 5px;
  color: white !important;
  background-color: rgb(24, 55, 103);
  border-radius: 5px 5px 0 0;
}
