.leftnav {
	display: flex;
	flex-direction: column;
	color: white;
}

.menuContainer {
	height: 100%;
	background-color: rgb(24, 55, 103);
}

.navitem {
	display: flex;
	gap: 5px;
	color: white;
	font-size: 1rem;
  flex-wrap: wrap;
}

.navitemContainer {
	padding: 10px 20px;
	transition: all 0.1s;
}

@media (any-hover: hover) {
	.navitemContainer:hover {
		background-color: rgb(55, 89, 139);
	}
}

.navitemContainer:active {
	background-color: rgb(105, 135, 181);
	transition: all 0s;
}

.navitemContainer.checked{
  background-color: rgb(55, 89, 139);
}