header {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	background-color: rgb(24, 55, 103);
	box-shadow: inset 0 0 5px 0 gray;
}
header p {
	margin: 0;
	color: white;
	font-size: 1.3rem;
	font-family: "Prata", serif;
}
header button {
	margin: 0 5px;
	color: white;
	font-size: 1rem;
	background-color: transparent;
	border: none;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
}

@media(any-hover:hover){
    header button:hover{
        background-color: rgb(64, 99, 151);
    }
}

header button:active{
    background-color: rgb(96, 129, 179);
}